[worldserver]

###################################################################################################
#   STARTING GUILD
###################################################################################################

# Enable the module? (1: true | 0: false)
StartGuild.Enable = 1

# Announce the module when the player logs in?
StartGuild.Announce = 0

# The GUID for each faction's starting guild
# Note: if AllowTwoSide.Interaction.Guild = 1, you can set the same number for both factions
StartGuild.Horde = 1
StartGuild.Alliance = 2

#
# StartGuild.Level
#
# Level when the player will be invited to a guild
#
# Disable = 0 (Default)
# Enable = level (ex. 10)
#

StartGuild.Level = 0
