[worldserver]

#
#   StarterGuild.Enable
#       Description: Description: Enable or disable the module
#       Default: 1
#       Value:
#           0 (false)
#           1 (true)
#

StarterGuild.Enable = 1

#
#   StarterGuild.Announce
#       Description: Enable or disable the announcement that you are using the module
#       Default: 0
#       Value:
#           0 (false)
#           1 (true)
#

StarterGuild.Announce = 0

#
#   StarterGuild.Horde
#   StarterGuild.Alliance
#       Description: ID of the guild, to which the player should be added
#       Note: if AllowTwoSide.Interaction.Guild = 1, you can set the same number for both factions
#

StarterGuild.Horde = 1
StarterGuild.Alliance = 2

#
#   StarterGuild.Level
#       Description: Level when the player will be invited to a guild
#       Default: 0 (Disabled)
#       Value: Any level, maximum 80 (blizzlike) (ex. 10 | 20 | etc)
#

StarterGuild.Level = 0

#
#   StarterGuild.HordeWelcomeText
#   StarterGuild.AllianceWelcomeText
#       Description: Welcome text sent to the player in chat when he is added to the guild. Can be set to not notify, by setting this config to an empty string.
#       Default HordeWelcomeText: "Lok’tar ogar! Welcome to the horde starter guild <GUILD> <PLAYER>."
#       Default AllianceWelcomeText: "Welcome to the alliance starter guild <GUILD> <PLAYER>. For the Alliance!"
#       Value: Any String, using either <GUILD> or <PLAYER> in your string will cause them to be replaced with the starter guilds name or characters name respectivly.
#
StarterGuild.HordeWelcomeText = "Lok’tar ogar! Welcome to the horde starter guild <GUILD> <PLAYER>."
StarterGuild.AllianceWelcomeText = "Welcome to the alliance starter guild <GUILD> <PLAYER>. For the Alliance!"